* {
  mragin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
#slideXBox {
  width: 500px;
  height: 282px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.next,
.prev {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
}
.next {
  left: 0;
}
.prev {
  right: 0;
}
.next:hover,
.prev:hover{
  background-color: rgba(0,0,0,1);
}
.slideX-content {
  margin: 0;
  height: 100%;
  overflow: hidden;
  transition: all .5s;
}
.slideX-content li {
  float: left;
  width: 500px;
  height: 100%;
  transition: all .5s;
}
.slideX-content li img {
  width: 100%;
  height: 100%;
}
.icon {
  width: 120px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -50px;
}
.icon li {
  float: left;
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.icon li.active {
  background-color: #000;
}
.icon li:last-child {
  margin-right: 0;
}
